#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.card {
  padding: 2em;
}

table.turn-history-table, table.turn-history-table th, table.turn-history-table td {
  border: 1px solid;
}

input#guess {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  text-align: center;
}

span.condition.nok {
  color: red;
}

span.condition.ok {
  color: green;
}